@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Rowdies", cursive;
  background-color: white;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.app-header {
  text-align: center;
  background-color: rgb(60, 137, 215);
  color: white;
  width: 100%;
}

.app-container {
  margin-top: 50px;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(60, 137, 215);
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid rgb(60, 137, 215);
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: rgb(60, 137, 215);
  color: white;
  cursor: pointer;
  font-family: "Rowdies", cursive;
}

button:hover {
  background-color: white;
  color: rgb(60, 137, 215);
  border: 2px solid rgb(60, 137, 215);
}

.sign-out {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-out button {
  width: 120px;
}
